---
import { Image } from "astro:assets";

interface Props {
  name: string;
  img: ImageMetadata;
  desc: string;
  link: string;
}

const { name, img, desc, link } = Astro.props;
---

<div class="project-card">
  <Image src={img} alt={name} />

  <div class="attributes">
    <div class="name-desc">
      <h4>{name}</h4>
      <p>{desc}</p>
    </div>
    <button><a href={link} target="_blank">Visit</a></button>
  </div>
</div>

<style lang="scss" is:global>
  @use "@/styles/abstract" as *;

  .project-card {
    border-radius: 0.5rem;
    flex: 1;

    min-width: 20rem;
    max-width: 80%;

    @include responsive(tablet) {
      max-width: 100%;
    }

    img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      object-position: top;
      border: 2px solid $light-bg;
    }
    &:nth-child(3) {
      img {
        object-position: left top;
      }
    }
    .attributes {
      padding: 2rem 0;
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: flex-start;

      h4 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 1rem;
      }
      p {
        line-height: 1.2rem;
        font-size: 0.8rem;
      }

      button {
        min-width: fit-content;
        border-radius: 1rem;
        outline: none;
        border: none;
        overflow: hidden;
        background: none;
        border: 2px solid $light-bg;
        padding: 0.8rem 1.6rem;
        cursor: pointer;
        a {
          display: block;
          color: $light-bg;
          font-weight: 600;
          font-size: 1rem;
        }
      }
    }
  }
</style>
<script>
  import { parallaxAnimation } from "@/utils/animations";

  const projectCards = document.querySelectorAll(
    ".project-card"
  ) as NodeListOf<HTMLDivElement>;

  projectCards.forEach((card) => {
    const button = card.querySelector("button") as HTMLButtonElement;
    const a = card.querySelector("button a") as HTMLAnchorElement;

    parallaxAnimation({
      child: a,
      container: button,
      movement: 20,
      parallaxMultiplier: 0.2,
      scale: 1.2,
    });
  });
</script>
